<%- include('./layouts/header.ejs') %>
<%- include('./layouts/navbar.ejs') %>
<center>
    <h1 class="mt-4">Manage User Roles </h1>
</center>
<div class="container">
    
    <%- include('./layouts/alert.ejs') %>
    

    <table class="table mt-5" style="width: 100%; table-layout: fixed; word-wrap: normal;">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email </th>
                <th scope="col">Role</th>
                <th scope="col">Update </th>
              </tr>
            </thead>
            <tbody>
                <% locals.users.map((user)=>{ %>
                    <tr>
                        <td><%= user.id%></td>
                        <td>
                            <a href="/user/<%=user.id%>">
                                <%= user.name%>
                            </a>
                        </td>
                        <td><%= user.email%></td>
                        <form action="/user/admin/update" method="post">
                            <td>
                                <input type="hidden" name="id" value="<%=user.id%>">
                                <select name="role" class="accordion" id="role">
                                    <option <%= user.role === 'moderator' ? 'selected' : '' %> class="accordion-item" value="moderator">Moderator </option>
                                    <option <%= user.role === 'admin' ? 'selected' : '' %> class="accordion-item" value="admin">Admin</option>
                                    <option <%= user.role === 'member' ? 'selected' : '' %> class="accordion-item" value="member">Member</option>
                                </select>
                                <td>
                                    <input type="submit" class="btn btn-primary px-3" value="Update"/>
                                </td>
                            </td>
                        </form>
                    </tr>
               <% }) %>
            </tbody>
          </table>
    </div>
<%- include('./layouts/footer.ejs') %>