<%- include('./layouts/header.ejs') %>
<%- include('./layouts/navbar.ejs') %>
  
<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 mt-5">
      <% 
  if (locals.user){ %>
    
  <div class="card">
    <div class="card-header" style="text-transform: capitalize;">
      <%= user.role %>
    </div>
    <div class="card-body">
      <h5 class="card-title"  style="text-transform: capitalize;"><%= user.name %></h5>
      <p class="card-text"><%= user.email %></p>
      <p class="card-text">User ID :<%= user.id %></p>
    </div>
  </div>
    
    <% }
    else{
    %>
    <div class="container">
      <h1>No Such User </h1>
    </div>
    <% 
  }
  %>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>

<%- include('./layouts/footer.ejs') %>